<div>
  <link href="./gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <div class="gallery-card1-container">
      <div class="gallery-card1-container1">
        <h2 class="gallery-card1-text"><span>Project Title</span></h2>
        <span class="gallery-card1-text1">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </span>
        <span class="gallery-card1-text2"><span>SHOW MORE</span></span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/screenshot%202022-08-21%20163536-1500w.png"
      class="gallery-card1-image"
    />
  </div>
</div>
