<div>
  <link href="./gallery-card.css" rel="stylesheet" />
  <div class="gallery-card-gallery-card">
    <div class="gallery-card-container">
      <div class="gallery-card-container1">
        <h2 class="gallery-card-text"><span>Project Title</span></h2>
        <span class="gallery-card-text1">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </span>
        <span class="gallery-card-text2"><span>SHOW MORE</span></span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/screenshot%202022-08-21%20162751-1500h.png"
      class="gallery-card-image"
    />
  </div>
</div>
