<div>
  <link href="./gallery-card10.css" rel="stylesheet" />
  <div class="gallery-card10-gallery-card">
    <div class="gallery-card10-container">
      <div class="gallery-card10-container1">
        <h2 class="gallery-card10-text">
          <span>2021 WebCup 4th Place and Virality Winner</span>
        </h2>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/screenshot%202022-08-21%20163850-1500h.png"
      class="gallery-card10-image"
    />
  </div>
</div>
