<div>
  <link href="./gallery-card7.css" rel="stylesheet" />
  <div class="gallery-card7-gallery-card">
    <div class="gallery-card7-container">
      <div class="gallery-card7-container1">
        <h2 class="gallery-card7-text">
          <span>2021 Frontend Battle Participants</span>
        </h2>
        <span class="gallery-card7-text1">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        </span>
        <span class="gallery-card7-text2"><span>SHOW MORE</span></span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/screenshot%202022-08-21%20163029-1500h.png"
      class="gallery-card7-image"
    />
  </div>
</div>
